<html ng-app="popupApp" ng-csp>
    <head>
        <link href="/css/popup.css" rel="stylesheet" type="text/css">
        <link href="/css/libs/angular-csp.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="PopupCtrl">
        <div id="state-mask" ng-show="isLoading">{{loadingText}}</div>

        <div id="login-window" ng-show="isAnony">
            <div id="header">
                <div class="logo-unlogin">Pinboard - please login</div>
            </div>
            <form id="login-form" ng-submit="loginSubmit()">
                <ul>
                    <li id="login-error" ng-show="isLoginError">
                        <span style="color:red;">Login Failed.</span>
                    </li>
                    <li>
                        <span style="width: 60px;display: inline-block;">API Token:</span>
                        <input id="token" name="token" type="text" size="50" ng-model="userLogin.authToken" placeholder="API Token"/>
                        <div class="meta">
                            You can find API token on your <a href="#" title="Pinboard Password page" ng-click="openUrl('https://pinboard.in/settings/password')">Pinboard Password page</a>.
                        </div>
                    </li>
                    <li>
                        <input id="login" type="submit" value="log in" style="margin-left: 60px" />
                    </li>
                </ul>
            </form>
        </div>

        <div id="bookmark-window" ng-show="!isAnony">
            <div id="header">
                <div class="logo">
                    <a id="logo-link" href="#" title="Click to open Pinboard.in"
                       ng-click="openUrl('http:pinboard.in/')">
                        Pinboard - (<span id="user">{{userInfo.name}}</span>)
                    </a>
                    <a class="random" href="#" title="Random unread item" ng-click="openUrl('http:pinboard.in/random/?type=unread')">R</a>
                </div>
                <div class="alert" ng-show="pageInfo.isSaved">{{renderSavedTime(pageInfo.time)}}</div>
                <div class="logout">[<a href="#" ng-click="logout()">log out</a>]</div>
            </div>
            <form id="add-post-form" ng-submit="postSubmit()">
                <ul>
                    <li>
                        <label class="item-title">URL</label>
                        <input id="url" type="text" style="width:420px" ng-model="pageInfo.url"/>
                    </li>
                    <li>
                        <label class="item-title">Title</label>
                        <input id="title" type="text" style="width:420px" ng-model="pageInfo.title"/>
                    </li>
                    <li>
                        <label class="item-title">Notes</label>
                        <textarea id="desc" style="width:420px" rows="4" ng-model="pageInfo.desc"></textarea>
                        <div id="blockquote-hint" ng-show="isQuoteHintShown">
                            Text in &lt;blockquote&gt; will be displayed as cited text in Pinboard.
                        </div>
                    </li>
                    <li>
                        <label class="item-title">Tags</label>
                        <input id="tag" type="text" style="width:420px" autofocus="autofocus" ng-model="pageInfo.tag" ng-change="showAutoComplete()" ng-keydown="chooseTag($event)"/>
                    </li>
                    <li>
                        <label class="item-title">Suggest</label>
                        <span id="suggest">
                            <a href="#" ng-class="{'selected':pageInfo.tag.split(' ').indexOf(suggest) != -1}"
                               ng-repeat="suggest in suggests" ng-click="addTags([suggest])">{{suggest}}</a>
                            <a href="#" id="add-all" ng-click="addTags(suggests)">Add all</a>
                        </span>
                    </li>
                    <li>
                        <input type="checkbox" name="private" id="private" ng-model="pageInfo.isPrivate" ng-checked="pageInfo.isPrivate">
                        <label style="display:inline" for="private">private</label>
                        <input type="checkbox" name="toread" id="toread" ng-model="pageInfo.toread" ng-checked="pageInfo.toread">
                        <label style="display:inline" for="toread">read later</label>
                    </li>
                    <li>
                        <input id="submit" type="submit" value="Submit" />
                        &nbsp;&nbsp;&nbsp;
                        <span>
                            <a id="delete" href="#" style="text-decoration: none;color: #11A" ng-show="pageInfo.isSaved" ng-hide="isShowDeleteConfirm" ng-click="showDeleteConfirm()">delete</a>
                            <span class="confirm" ng-show="isShowDeleteConfirm">
                                <a id="cancel-delete" href="#" ng-click="isShowDeleteConfirm=false">cancel</a>
                                &nbsp;/&nbsp;
                                <a id="destroy" href="#" style="color:red" ng-click="postDelete()">destroy</a>
                            </span>
                        </span>
                    </li>
                </ul>
            </form>
        </div>
        <div class="auto-complete" ng-show="isShowAutoComplete" ng-style="autoCompleteStyle">
            <ul>
                <li ng-repeat="item in autoCompleteItems" ng-class="{active: item.isActive == true}">{{item.text}}</li>
            </ul>
        </div>
        <script type="text/javascript" src="/js/libs/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/js/libs/angular.min.js"></script>
        <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <script type="text/javascript" src="/js/popup.js"></script>
    </body>
</html>
