<head>
  <title>Pinboard Plus Options</title>
  <link href="/css/options.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/options.js"></script>
</head>
<body>
  <header>
    <h1>
      <img src="/img/appicon_48.png"/>
      Pinboard Plus Options
    </h1>
  </header>
  <section>
    <p>
    <span class="checkbox"><input type="checkbox" id="no-ping" /></span>
      <label for="no-ping">Not to check if page has already been bookmarked</label>
      <br/>
      <span class="meta">
        (Stop pinging the Pinboard API, icon will be grey)
      </span>
    </p>
    <p>
    <span class="checkbox"><input type="checkbox" id="all-private" /></span>
      <label for="all-private">Private checkbox always checked</label>
    </p>
  </section>
</body>

