<head>
    <title>Pinboard Plus Options</title>
    <link href="/css/options.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/libs/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/options.js"></script>
</head>
<body>
    <header>
        <h1>
            <img src="/img/appicon_48.png"/>
            Pinboard Plus Options
        </h1>
    </header>
    <section>
        <p>
            <span class="checkbox"><input type="checkbox" id="no-ping" /></span>
            <label for="no-ping">Do not check if page has already been bookmarked</label>
            <br/>
            <span class="meta">
                (Stop pinging the Pinboard API; Icon will be grey)
            </span>
        </p>
        <p>
            <span class="checkbox"><input type="checkbox" id="all-private" /></span>
            <label for="all-private">Private checkbox checked by default</label>
        </p>
        <p>
            <span class="checkbox"><input type="checkbox" id="use-blockquote" /></span>
            <label for="use-blockquote">Wrap selected text on a page with <code>&lt;blockquote&gt;</code> in the Notes field</label>
        </p>
    </section>
</body>
